.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalSize {
    width: 450px;
    text-align: center;
}

.inputSize {
    width: 400px;
}

.cursor {
    cursor: pointer;
}

.actorsOrGenresDiv {
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.pagination {
    display: flex;
    justify-content: center;
}